@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Condensed", sans-serif;
}

.container {
  background-image: url(./img/morning/c-min.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  color: white;
  overflow: hidden;
}

.hero {
  display: none;
  height: 100vh;
  width: 100%;
}

.mobile-weather {
  overflow: hidden;
  text-align: center;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  position: relative;
  display: flex;
  /* padding-top: 80px; */
  /* top: -10px; */
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  gap: 30px;
}

.search-container {
  position: absolute;
  top: 5%;
  left: 0;
  right: 0;
  width: max-content;
  margin: 0 auto;
  /* background-color: white; */
  /* background-color: rgba(150, 103, 103, 0.15); */
  background-color: rgba(0, 0, 0, 0.4);

  backdrop-filter: blur(5px);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  width: 80%;
}

.input-container {
  /* width: max-content; */
  margin: 0 auto;
  padding: 5px 15px;
  border: 1px solid white;
  border-radius: 15px;
  outline: none;
  position: relative;
}

.input-container input {
  color: white;
  background: none;
  border: none;
  outline: none;
  margin-right: 10px;
  width: 80%;
}

.input-container input::placeholder {
  color: white;
}

.input-container button {
  position: absolute;
  right: 20px;
  background: none;
  border: none;
  outline: none;
  color: white;
  height: max-content;
  cursor: pointer;
}

.cities-list {
  /* background-color: white; */
  /* text-align: ; */
  /* height: 10vh; */
  width: 100%;
}

.cities-list p {
  padding: 5px 0;
  border-bottom: 1px solid;
  text-align: center;
  cursor: pointer;
}

.cities-list p:last-of-type {
  border-radius: 15px;
}

.mobile-weather-info {
  font-size: 2rem;
}

.mobile-weather-info i {
  font-size: 80px;
}

.weather-icon {
  width: 40%;
  height: 40%;
}

.week-list {
  /* background-color: rgba(255, 255, 255, 0.15); */
  /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
  background-color: rgba(0, 0, 0, 0.4);
  height: 25vh;
  /* bottom: 0px; */
  /* height: 300px; */
  bottom: 0;
  width: 100vw;
  position: fixed;
  border-radius: 10px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  padding: 5px 20px 10px;
  overflow: hidden;
  overscroll-behavior-y: contain;
  /* transition: .25s; */
}

.swipe-up {
  display: flex;
  justify-content: center;
}

.swipe-up i {
  font-size: 1.5rem;
}

.day-weather-info header {
  display: flex;
  /* background-color: red; */
  justify-content: space-between;
  /* margin: 10px 0; */
}
.day-weather-info hr {
  margin-bottom: 8px;
}

.day-temps {
  text-align: center;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}

.day-temp {
  font-size: 1.5rem;
}
.day-description {
  font-size: 1rem;
}

.loading-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: none;
  justify-content: center;
  align-items: center;
}

.loading {
  width: 100px;
  height: 100px;
  border: 10px solid transparent;
  /* border: none; */
  border-top-color: #009579;
  border-bottom-color: #009579;
  border-radius: 50%;
  animation: loading 1s ease infinite;
}

@keyframes loading {
  to {
    transform: rotate(1turn);
  }
}

@media (min-width: 950px) {
  .container {
    display: flex;
  }
  .hero {
    display: block;
    position: relative;
  }
  .week-weather {
    width: 45%;
  }

  .mobile-weather {
    display: none;
  }

  .week-list {
    position: relative;
    width: 100%;
    height: 100vh !important;
  }

  .swipe-up {
    display: none;
  }

  .weather-info {
    position: absolute;
    bottom: 100px;
    left: 100px;
    display: flex;
    gap: 20px;
    text-align: center;
    align-items: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

  .weather-info h2 {
    font-size: 7rem;
    font-weight: 300;
  }

  .city-info h3 {
    font-size: 2rem;
    font-weight: 300;
  }

  .city-info p {
    font-size: 1.3rem;
  }

  /* .day-weather i {
    font-size: 3rem;
    margin-bottom: 5px;
  } */

  .week-list {
    padding-top: 20px;
    overflow-y: scroll;
  }

  .weather-icon {
    width: 60%;
  }
}

.week-day-weather-icon {
  display: flex;
  width: 400px;
}
